.buttonsTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 20% 5% 20%;
    
}

.buttonTop{
    padding: 0;
    width: 265px;
    height: 72px;
    background: rgba(0, 145, 233, 0.16);
    border-radius: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;  
    color: #000000;

}
#buttonFirst{


}
 #buttonSecond{

}
#buttonThirst{

} 
.aboute_work {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 90px;
    overflow: hidden;
    padding-bottom: 105px;

}

.aboute__img {
    width: 437px;
    height: 413px;
    padding-bottom: 47px;
}
.aboute__work__equip__header .aboute__img{
    padding: 0;
}
.aboute_work_complex {
    display: flex;
    flex-direction: column;
    width: 28vw;
    overflow: hidden;

}

.aboute_work_manager {
    display: flex;
    flex-direction: column;
    max-width: 28vw;
    overflow: hidden;


}

.aboute_work_equip {
    display: flex;
    flex-direction: column;
    max-width: 28vw;
    overflow: hidden;
    align-items: center;
}

.aboute_work_complex__header {
    /* padding-left: 95px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboute__work__manager__header {
    /* padding-left: 112px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboute__work__equip__header {
    /* padding-left: 114px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboute__work_title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #0091E9;
    width: 100%;    
    padding-left: 60px;
    margin-bottom: 40px;

}

.aboute__work_title.general {
}

.aboute__work_title.manager {
}

.aboute__work_title.equip {
    margin-bottom: 0px;
}


.border {
    margin-left: 45px;
    margin-bottom: 24px;
    width: 100%;
    border: 2px solid #0091E9;
}

.aboute_work__description_grp {
    display: flex;
    flex-direction: row;
}

.aboute_work__description_grp img{
    width: 60px;
    height: 62px;
}
.aboute_work__description_grp p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #000000;
}

.aboute_work__description {
    padding-left: 37px;
}

@media (max-width:1730px) {
    .aboute__img {
        padding-bottom: 0px;
    }
    .aboute__work_title.equip {
        padding-left: 10px;
        /* width: 100%; */
    }
}
@media (max-width:1512px) {
    .aboute__img {
      
        padding-bottom: 0px;
    }
    .aboute__work_title.equip {
        padding-left: 10px;
        width: 100%;
    }
    .aboute__work_title.general{
        padding-left: 50px;

    }
}