.road h1{
    font-family: 'Comfortaa';
    font-size: 50px;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-align: center;
    color: #004E77;
}
.road{
    position: relative;
    overflow: hidden;
}
.road__curve{

   padding: 5% 0;

}
.road__curve__background{
    display: flex;
    justify-content: center;
}
.road__curve__background__img{
    height: 1000px;
    max-width: 1345px;
    width: 100vw;
    background: url("./assets/images/road/road.png") center center no-repeat;
    background-size:100% ;
}   
.road__curve__icon{
    position: absolute;
    /* flex-direction: row; */
}
.road__curve__icon__order{
    display: flex;
    flex-direction: column;
    transform:  translateX(2vw) translateY(-9vh);
    /* content: url("./assets/images/road/order.png"); */
}   
.road__curve__icon__order__text__row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}
.road__curve__icon__order3 .road__curve__icon__order__text__row{
    align-items: flex-end;

}
.road__curve__icon__personal .road__curve__icon__order__text__row{
    justify-content: center;
}
.road__curve__icon__cash .road__curve__icon__order__text__row{
    align-items: center;

}

.road__curve__icon__order__text__row__number{
    display: flex;
    align-items: center;
}
.road__curve__icon__order2 .road__curve__icon__order__text__row__number{
    padding-bottom: 20px;
}
.road__curve__icon__phone .road__curve__icon__order__text__column{
    display: flex;
    align-items: center;
}
.road__curve__icon__order__text__row__number__p{
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 50px ;
    color:#0091E9 ;
    border: 2px solid #0091E9;
    border-radius: 30px;
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.road__curve__icon__order__text__row__word{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400; 
    font-size: 25px; 
     line-height: 140%;
     letter-spacing: 0.05em;
    color: #004E77;
}

.road__curve__icon__order2{
    display: flex;
    flex-direction: row;
    position: absolute;
    transform:translateX(3.2vw) translateY(0);
    /* content: url("./assets/images/road/order_2.png"); */
}
.road__curve__icon__order3{
    display: flex;
    flex-direction: row;
    position: absolute;

     transform: translateX(25vw) translateY(35vh);
}
.road__curve__icon__order4{
    position: absolute;
    transform: translateX(37vw) translateY(-27vh);
    gap: 0;
    /* content: url("./assets/images/road/order_4.png"); */
}
.road__curve__icon__order4__buble::before{
    content: "";
    position: absolute;
    top: 340px;
    left: 80px;
    background: rgba(0, 145, 233, 0.19);;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: buble 1.2s infinite;
    /* opacity: 1; */
}
.road__curve__icon__order4__buble2::before{
    content: "";
    position: absolute;
    top: 340px;
    left: 80px;
    background: rgba(0, 145, 233, 0.19);;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: buble2 1.3s infinite;
    /* opacity: 1; */
}
.road__curve__icon__order4__buble3::before{
    content: "";
    position: absolute;
    top: 340px;
    left: 80px;
    background: rgba(0, 145, 233, 0.19);;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: buble3 1.4s infinite;
    /* opacity: 1; */
}
@keyframes buble {
    from{
        left: 50px;
        /* transform: translateY(20px) ; */
        opacity: 1;
    }
    to{
        left: 10px;
        transform: translateY(40px) ;
        transform: translateX(15px) ;

        opacity: 0;
    }
}
@keyframes buble2 {
    from{
        left: 50px;
        /* transform: translateY(20px) ; */
        opacity: 1;
    }
    to{
        left: 10px;
        transform: translateY(40px) ;
        opacity: 0;
    }
}
@keyframes buble3 {
    from{
        left: 50px;
        /* transform: translateY(20px) ; */
        opacity: 1;
    }
    to{ 
        left: 10px;
        transform: translateY(20px) ;
        opacity: 0;
    }
}
.road__curve__icon__traffic{
    position: absolute;
    transform: translateX(61vw) translateY(-9vh);
    /* content: url("./assets/images/road/traffic.png"); */
}
.road__curve__icon__traffic__red::before{
    content: "";
    position: absolute;
    top: 28px;
    left: 91px;
    background: #eb1a2b;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: blink 6s infinite;
    box-shadow: 0px 0px 18px 3px rgba(235,26,43,1);
    border: black 1px solid;

}
.road__curve__icon__traffic__yellow::before{
    content: "";
    position: absolute;
    top:57.1px;
    left: 91px;
    background: #e4eb0c;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: blinkYellow 6s infinite;
    box-shadow: 0px 0px 18px 3px  rgba(228,235,12,1);
    border: black 1px solid;

}
.road__curve__icon__traffic__green::before{
    content: "";
    position: absolute;
    top:87px;
    left: 91px;
    background: #17d12d;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    animation: blinkGreen 6s infinite;
    box-shadow: 0px 0px 18px 3px  rgba(23,209,45,1);
    border: black 0.1px solid;
}
@keyframes blink {
    0%{opacity: .1;}
    20%{opacity: 1;}
    40%{opacity: 1; }
    60%{opacity: .1; }
    80%{opacity: .1; ;}
    100%{opacity: .1; }
    
}
@keyframes blinkYellow {
    0%{opacity: .1;}
    20%{opacity: .1;}
    40%{opacity: 1;}
    50%{opacity: .1;}
    60%{opacity: .1;}
    80%{opacity: .1;}
    100%{opacity: .1;}
}
@keyframes blinkGreen {
    0%{opacity: .1;}
    20%{opacity: .1;}
    40%{opacity: .1;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    85%{opacity: .1;}
    90%{opacity: 1;}
    95%{opacity: .1;}
    100%{opacity: 1;}
}

.road__curve__icon__personal{
    position: absolute;
    transform: translateX(56vw) translateY(35vh);

    /* content: url("./assets/images/road/personal.png") */
}
.road__curve__icon__phone{
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: translateX(77vw) translateY(6vh);

    /* content: url("./assets/images/road/phone.png"); */
}
.road__curve__icon__cash{
    position: absolute;
    transform: translateX(72.5vw) translateY(-51vh);

    /* content: url("./assets/images/road/cash.png"); */
} 

@media (max-width:1512px){
    .road__curve__icon__order__text__row__word{
        font-size: 20px;
    }
    .road__curve__icon img{
        width: 250px;
    }
    .road__curve__icon__traffic img{
        width: 120px;
    }
    .road__curve__icon__phone img{
        width: 120px;
    }
    .road__curve__icon__order{
        transform:  translateX(1vw) translateY(0vh);
    }   
    .road__curve__icon__order2{
        transform:translateX(1vw) translateY(15vh);
    }
    .road__curve__icon__order3{
         transform: translateX(25vw) translateY(55vh);
    }
    .road__curve__icon__order4{
        transform: translateX(37vw) translateY(-7vh);
    }
    .road__curve__icon__order4__buble::before{
        top: 220px;
        left: 20px;
    }
    .road__curve__icon__order4__buble2::before{
        top: 220px;
        left: 20px;
    }
    .road__curve__icon__order4__buble3::before{
        top: 220px;
        left: 20px;
    }
    .road__curve__icon__traffic{
        transform: translateX(65vw) translateY(3vh);
    }
    .road__curve__icon__traffic__red::before{
      
        top: 22px;
        left: 77px;
        width: 1.3rem;
        height: 1.3rem;
    }
    .road__curve__icon__traffic__yellow::before{
        top:48px;
        left: 77px;
        width: 1.3rem;
        height: 1.3rem;
    }
    .road__curve__icon__traffic__green::before{
        top:73px;
        left: 77px;
        width: 1.3rem;
        height: 1.3rem;
    }
    .road__curve__icon__personal{
        transform: translateX(70vw) translateY(65vh);
    }
    .road__curve__icon__phone{
        transform: translateX(85vw) translateY(20vh);
    }
    .road__curve__icon__cash{
        transform: translateX(82vw) translateY(-42vh);
    } 
}